
*
{
margin:0px;
padding:0px;
outline:none;
}

html{height:100%}

body{
background-image: url('https://images6.alphacoders.com/420/420248.jpg');
background-repeat: no-repeat;
background-size: cover;
padding:10px;
font-family:'Baloo', sans-serif;
color:#b8a7a7;
}

h1, ul {
color:brown;
}

li {
  list-style: none;
  color: black;
  font-size: 12px;
}

h1
{
font-size:1.2em;
padding:100px 15px 25px 15px;
text-shadow:0px 0px 5px #CFCFCF;
text-align:center;
position: absolute;
top:-133px;
}

.health{
position: absolute;
color:#76AB4E;
font-size: 1.2em;
font-weight:bold;
top: -25px;
right:2px;
}

.health span {
color: #0B82EF;
}

.gif {
max-width: 100%;
}

.title{
font-size: 1em;
color:brown;
}

.weight {
padding-left: 10px;
}

.weight span {
color:brown;
}

.pokemon_image {
position: absolute;
right: 1px;
bottom:2px;
width:22%;
border-radius: 50%;
border: 5px solid #76AB4E;
background: #E9BD82;
}

.weakness, .type{
padding-left: 10px;
}



#card{
width: 360px;
height: 550px;
padding:50px 0px 0px 0px;
background:orange;
border-radius:25px;
border:10px solid gold;
margin:0 auto;
position: relative;
}

#background
{
width: 320px;
height: 517px;
margin: 0 auto;
position: relative;
background-image: url('https://img00.deviantart.net/0614/i/2012/106/a/e/classic_pkmn_tcg_texture_pack_by_flamingclaw-d4wcj31.png');
}


.pokemon_search {
text-align: center;
margin-top: 2em;
}

input {
font-size: 1.2em;
}
